<!DOCTYPE html>
<html>
<head>
	<title>express.static() Demo</title>
</head>

<body>
	<h2>Greetings</h2>
	<img src="MB_17336_17336_MA_EN_gen_SOF_Gif_Res_300_600_ani_top__age.gif" width="150" height="100" />
</body>
</html>
